@model DataViewModel
<div>
    <form asp-Action="DataView" asp-Controller="Home" method="post">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container bg-info">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="navbar-nav flex-grow-1">
                        <div class="nav-item PaddingCustom">
                            <label>Currency Type:</label>
                            <select asp-for="currencyFilter.Currency" asp-items="Model.currencyFilter.Currencies"></select>
                        </div>

                        <div class="nav-item PaddingCustom">
                            <label>Status :</label>
                            <select asp-for="statusFilter.Status" asp-items="Model.statusFilter.StatusList"></select>
                        </div>

                        <div class="nav-item PaddingCustom">
                            <label>Start Date:</label>
                            <input type="date" asp-for="dateFilter.StartDate" />
                        </div>

                        <div class="nav-item PaddingCustom">
                            <label>End Date:</label>
                            <input type="date" asp-for="dateFilter.EndDate" />
                        </div>
                        <div class="nav-item PaddingCustom">
                            <input type="submit" name="Filter" value="Filter" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </form>
    <div id="ContentView">
        <table border="1">
            <thead>
                <tr>
            <td class="tbl-Td-Width">
                <b> Transaction Id</b>
            </td>
            <td class="tbl-Td-Width">
                <b>  Amount</b>
            </td>
            <td class="tbl-Td-Width">
                <b>  Currency</b>
            </td>
            <td class="tbl-Td-Width">
                <b> Status</b>
            </td>
            </tr>
            </thead>
            <tbody id="tblBody">
                @if (Model.outputModel != null)
                {
                    foreach (OutputModel mod in Model.outputModel)
                    {
                        <tr>
                            <td class="tbl-Td-Width">
                                @mod.Id
                            </td>
                            <td class="tbl-Td-Width">
                                @mod.Payment.Split(' ')[0]
                            </td>
                            <td class="tbl-Td-Width">
                                @mod.Payment.Split(' ')[1]
                            </td>
                            <td class="tbl-Td-Width">
                                @mod.Status
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>