@model FileUpload

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


</div>
<form enctype="multipart/form-data" asp-Action="Index" asp-Controller="Home" method="post">
    <div>
        <table>
            <tr>
                <td>
                    <label>Please select a file:</label>
                </td>
                <td>
                    <input asp-for="File" id="FileUploadId" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Upload" />
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    @if (ViewData["Uploaded"] != null && Convert.ToBoolean(ViewData["Uploaded"]) == true)
                    {
                        <span id="SuccessMessage" style="color:green">File Uploaded Successfully!!!</span>
                    }
                    else if (ViewData["Uploaded"] != null && Convert.ToBoolean(ViewData["Uploaded"]) == false)
                    {
                        <span id="SuccessMessage" style="color:red">Error occurred while Uploading the file</span>
                    }
                </td>
                <td>
                </td>
            </tr>
        </table>


    </div>
</form>
