################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2c2pAssignment/obj/Debug/netcoreapp2.2
